@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
*{
    margin: 0;
}

/* padrao */

.dis {
    display: flex;
}

.ali {
    align-items: center;
}

.jus {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.spa {
    justify-content: space-between;
}


/* barra lateral */

.barra-lateral{
    padding-top: 15px;
    color: #E5E5E5;
    background-color: #3A3A3A;
    width: 220px;
    height: 100vh;
    font-family: 'Montserrat';
    position: fixed;
}

.barraContent {
    height: 320px;
}

.links{
    height: 80px;
    padding-left: 50px;
    color: white;
}

.linkstext{
    color: white;
    text-decoration: none;
}

.linkstext :hover {
    color: rgb(179, 0, 0);
    transform: scale(1.5); 
}

.links Link {
    font-size: 12px;
}

/* pagina inteira */

.content {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 14px;  
    height: 12px;             
}

body::-webkit-scrollbar-track {
    background: #10416d70; 
}

body::-webkit-scrollbar-thumb {
    background-color: #354089;  
}

/* area de cadastro */

.buttonGeral {
    width: 120px;
    height: 25px;
    background-color: #354089;
    border-radius: 4px;
    font-family: 'Montserrat';
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.inputsCadastros {
    width: 300px;
    height: 35px;
    background-color: #23496C;
    border-radius: 4px;
    border: none;
    outline: 0;
    padding-left: 15px;
    font-family: 'Montserrat';
    color: #fff;
    
}

::-webkit-input-placeholder {
    color: white;
 }

.selectCadastros {
    width: 317px;
    height: 35px;
    background-color: #23496C;
    border-radius: 4px;
    border: none;
    outline: 0;
    padding-left: 13px;
    color: white;
    font-family: 'montserrat';
}

.contentInput{
    font-family: 'montserrat';
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.areaCadastroEquip, .areaCadastro{
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(73, 73, 73);
}

.areaCadastroEquip{
    width: 490px;
}

.modalContent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.356);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar{
    display: flex;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.areaCadastro, .areaCadastroEquip, .boxListarEquip {
    animation: modal .3s;
}

.botaoCadastroContent {
    width: 80%;
    justify-content: space-between;
}

.containerCadastro {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tituloCadastro {
    width: 90px;
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
}

.tituloCadastroBig {
    width:170px;
    display: flex;
    justify-content: flex-end;
}

.contentCadastro {
    width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentCadastroEquipamento {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentBotaoCadastrar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentBotaoCadastrar button {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    background-color: #354089;
    font-family: 'montserrat';
    color: white;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

/* login  */

.loginImg {
    width: 68%;
}

.tituloLogin{
    font-family: 'montserrat';
    margin-bottom: 20px;
}

.areaLogin{
    width: 380px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentLogin {
    background-color: #E5E5E5 ;
}

.inputsLogin {
    width: 320px;
    height: 35px;
    background-color: #65829C;
    border-radius: 4px;
    border: none;
    outline: 0;
    padding-left: 15px;
    font-family: 'Montserrat';
    color: #fff;
}

/* listar */

.boxListarSalas {
    width: 220px;
    height: 90px;
    background-image: linear-gradient(#474961, #3A3A3A);
    border-radius: 5px;
    font-family: 'montserrat';
    font-size: 16px;
    color: white;
    padding: 10px;
    justify-content: space-between;
    margin: 10px;
}

.lixeira {
    width: 10px;
    height: 20px;
}

.contentLixo{
    text-align: end;
}

.buttonLixeira{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'montserrat';
}

.contentDetalhes{
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
}


.detalhes{
    cursor: pointer;
    font-size: 12px;
}

.buttonFechar{
    width: 120px;
    height: 25px;
    background-color: #354089;
    border-radius: 4px;
    font-family: 'Montserrat';
    color: #fff;
    border: none;
    cursor: pointer;
}

.boxListarEquip {
    width: 260px;
    max-height: 300px;
    min-height: 200px;
    background-image: linear-gradient(#474961, #3A3A3A);
    border-radius: 5px;
    font-family: 'montserrat';
    font-size: 16px;
    color: white;
    padding: 10px;
    justify-content: space-between;
    margin: 20px;
}

.ListaPrincipal{
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(#474961, #3A3A3A);
    background-size: cover;
    font-family: 'montserrat';
    color: rgb(255, 255, 255);
    padding: 15px;
}

.ListaPrincipal table{
    width: 100%;
    border-spacing:10px;
    text-align: center;
}

.its{
    background-color: rgba(255, 255, 255, 0.800);
    border-radius: 3px;
    color: #1b1d1f;
    font-size: 14px;
    text-overflow: ellipsis;
    height: 27px;
    text-align: center;
}


.linhaListar{
    width: 200px;
    justify-content: space-between;
}

.linhaListarEquip {
    width: 250px;
    justify-content: space-between;
}

.contentBoxListar{
    width: 77vw;
    display: flex;
    flex-wrap: wrap;
}

.borda {
    width: 165px;
    height: 30px;
    padding-left: 20px;
    background-color: #354089;
    display: flex;
    margin-left: -20px;
    align-items: center;
    border-radius: 5px 0 0 5px;
}