@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
*{
    margin: 0;
}

/* padrao */

.dis {
    display: flex;
}

.ali {
    align-items: center;
}

.jus {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.spa {
    justify-content: space-between;
}


/* barra lateral */

.barra-lateral{
    padding-top: 15px;
    color: #E5E5E5;
    background-color: #3A3A3A;
    height: 98.1vh;
    width: 220px;
    font-family: 'Montserrat';
}

.barraContent {
    height: 400px;
}

.links{
    height: 160px;
    font-size: 12px;
    padding-left: 20px;
}

/* pagina inteira */

.corpo{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 170px;
}

/* area de cadastro */

.areaCadastro button {
    width: 120px;
    height: 25px;
    background-color: #354089;
    border-radius: 4px;
    font-family: 'Montserrat';
    color: #fff;
    border: none;
    margin-top: 20px;
}


.inputsCadastros {
    width: 300px;
    height: 35px;
    background-color: #23496C;
    border-radius: 4px;
    border: none;
    outline: 0;
    padding-left: 15px;
    font-family: 'Montserrat';
    color: #fff;
    
}

::-webkit-input-placeholder {
    color: white;
 }

.selectCadastros {
    width: 317px;
    height: 35px;
    background-color: #23496C;
    border-radius: 4px;
    border: none;
    outline: 0;
    padding-left: 13px;
    color: white;
    font-family: 'montserrat';
}

.contentInput{
    font-family: 'montserrat';
    align-items: center;
    justify-content: space-between;
}

.areaCadastro {
    width: 430px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloCadastro {
    width: 90px;
    display: flex;
    justify-content: flex-end;
}

.tituloCadastroBig {
    width:170px;
    display: flex;
    justify-content: flex-end;
}

.contentCadastro {
    width: 430px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentCadastroEquipamento {
    width: 500px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* titulo da pagina  */
.contentTitulo {
    width: 155vh;
    height: 40%;
    display: flex;
    justify-content: flex-end;
}

.tituloPagina {
    width: 583px;
    height: 35px;
    background-color: #354089;
    font-size: 25px;
    font-family: 'montserrat';
    color: white;
    padding-left: 20px;
    border-radius: 3px;
}

/* login  */

.loginImg {
    width: 78.2%;
}

.areaLogin{
    background-color: yellow;
    width: 380px;
    height: 290px;
}

.contentLogin {
    background-color: #E5E5E5 ;
}

.inputsLogin {
    width: 350px;
    height: 35px;
    background-color: #65829C;
    border-radius: 4px;
    border: none;
    outline: 0;
    padding-left: 15px;
    font-family: 'Montserrat';
    color: #fff;
}

.tituloLogin {
    
}